* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding-bottom: 50px;
    display: flex;
    max-width: 900px;
    gap: 80px;
    margin: auto;
}

.leftSide {
    flex: 1;

    > h1 {
        margin: 0;
        font-size: 40px;
        color: #3a4b5c;
    }

    > p {
        font-size: 16px;
        margin-bottom: 40px;
        color: #6a7d8b;
    }

    > input {
        width: 100%; /* faz com que eles fiquem um lado ao do outro */
        border: 0;
        border-bottom: 2px solid rgba(150, 163, 171, 0.5);
        padding: 10px 2px;
        margin-bottom: 20px;
        font-size: 14px;
        outline: 0;

        > &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    > button {
        background-color: #227c9d;
        color: #fff;
        font-size: 15px;
        border: 0;
        border-radius: 10px;
        padding: 15px 0px;
        width: 100%;
        cursor: pointer;
        margin-top: 40px;

        > &:hover {
            opacity: 0.9;
            background-color: #16576e;
            transition: all ease 0.3s;
        }

        > &:disabled {
            opacity: 0.5;
            background-color: #227c9d;
            cursor: not-allowed;
        }
    }
}

.rightSide {
    flex: 1;
    display: flex;

    > .grid {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    > .rightBig {
        flex: 1;
        display: flex;
    }

    > .rightArrow {
        position: absolute;
        background-color: #227c9d;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: -35px;
        margin-top: 135px;
        transition: all ease 0.5s;

        > &:hover {
            opacity: 0.9;
            background-color: #16576e;
        }
    }
}

/** Responsividade */

@media (max-width: 770px) {
    .container {
        padding: 0 20px;
        flex-direction: column;
    }

    .leftSide {
        margin-right: 0;
    }

    .rightSide {
        margin-left: 0;
        margin-top: 50px;

        > .rightArrow {
            margin-left: 0;
            margin-top: 0;
            border-radius: 10px;
        }
    }
}

@media (max-width: 430px) {
    .container .rightSide .grid {
        grid-template-columns: 1fr;
    }
}
